$primary:       $blue;
$secondary:     $gray-600;
$success:       $green;
$info:          $cyan;
$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;



$body-bg:       #f4e9f1;
$body-color:    $gray-900;



$enable-gradients:              false;
$enable-responsive-font-sizes:  false;