$primary:       #915afe;
/*$secondary:     $gray-600;
$success:       $green;*/
$info:          #d08045;
/*$warning:       $yellow;
$danger:        $red;
$light:         $gray-100;
$dark:          $gray-800;*/



$body-bg:       #f4e9f1;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1440px
);

$enable-responsive-font-sizes:  true;