$primary:       #915afe;
$info:          #d08045;

$body-bg:       #f4e9f1;

$container-max-widths: (
        sm: 540px,
        md: 720px,
        lg: 960px,
        xl: 1440px
);

$enable-responsive-font-sizes:  true;