html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.product__img {
  max-width: 690px;
  max-height: 445px;
  object-fit: cover;
};
.product__img--thumbnail {
  max-width: 75px;
  object-fit: cover;
}

#qty {
  width: 65px;
}