html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.product__img {
  max-width: 690px;
  max-height: 445px;
  object-fit: cover;
};
.product__img--thumbnail {
  max-width: 75px;
  object-fit: cover;
}

#qty {
  width: 65px;
}

input:focus:invalid {
  border: 2px solid $red;
};

.info {
  transition: all .3s ease-in-out;
  &--hide {
    opacity: 0;
    margin-top: -32px;
  };
  &--show {
    opacity: 1;
    margin-top: 0;
  }
};

form label {
  text-indent: 5px;
};
span.notice {
  position: absolute;
  left: 0;
  top: 62px;
  padding: 4px 16px;
  opacity: 0;
  &--active {
    z-index: 2;
    opacity: 1;
  };
};
button.notice__toggle {
  position: absolute;
  right: -13px;
  top: 19px;
  width: 48px;
  height: 48px;
  padding: 10px 0;
  border: none;
  border-radius: 50%;
  background-color: $body-bg;
  z-index: 1;
  &:hover {
    background-color: $body-bg;
  };
  &.bg-warning:focus {
    background-color: $warning !important;
  }
};

#counter {
  padding: 4px 0;
  position: absolute;
  width: 20px;
  height: 20px;
  border-radius: 50%;
  right: -5px;
  top: -5px;
  color: white;
  text-align: center;
  line-height: 1;
}

