html {
  scroll-behavior: smooth;
}

body {
  height: 100vh;
}

.product__img {
  max-width: 690px;
  max-height: 445px;
  object-fit: cover;
};
.product__img--thumbnail {
  max-width: 75px;
  object-fit: cover;
}

#qty {
  width: 65px;
}

input:focus:invalid {
  border: 2px solid $red;
};

.info {
  transition: all .3s ease-in-out;
  &__hide {
    opacity: 0;
    margin-top: -32px;
  };
  &__show {
    opacity: 1;
    margin-top: 0;
  }
};

form label {
  text-indent: 5px;
  position: relative;
};
